.Grid {
  width: calc(100% - 4em);
  max-width: 75vh;
  margin: auto;
  box-shadow: inset 0px 0px 0px 1em #1a1b1c;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: #FFF;
  grid-gap: 1em;
  padding: 2em;
}

.Square {
  width: 100%;
  padding-bottom: 100%;
  background-color: #fff;
  display: flex;
  border-radius: .3em;
  position: relative;
}

.BWall::before {
  content: "";
  background-color: #1a1b1c;
  height: 3px;
  width: calc(100% + 1em);
  bottom: calc(-0.5em - 1.5px);
  left: -.5em;
  position: absolute;
}

.LWall::after {
  content: "";
  background-color: #1a1b1c;
  width: 3px;
  height: calc(100% + 1em);
  left: calc(-0.5em - 1.5px);
  top: -.5em;
  position: absolute;
}



.PlayerA {
  background-color: #30664D !important;
}

.PlayerB {
  background-color: #EA4610 !important;
}

.Highlight {
  background-color: #999;
}

.Highlight:hover {
  background-color: #777;
}